<div data-role="header">
<h1>Shopping list</h1>
<%= link_to "Home", root_path, "data-icon" => "plus", "class" => "ui-btn-left" %>
<%= link_to 'Add', new_list_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
</div>

<div data-role="content">
  <ul data-role="listview">
<% @list.each do |list| %>
    <li>
    <%= list.crdate.strftime("%D") %>
    <%= list.store %>
    <%= list.item %>
    <%= list.qty %>

  </li>
<% end %>
    </ul>
</div>