<div data-role="header">
<h1>Log in</h1>
<%= link_to "Back", root_url, "data-icon" => "arrow-l", "class" => "ui-btn-left" %>
</div>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button"><%= submit_tag 'Log in'%></p>
<% end %>

<div  data-role="footer">
    (c) zLista : <%= flash[:notice] %>
  </div>