<div data-role="header">
<h1>Sign up</h1>
<%= link_to "Back", root_url, "data-icon" => "arrow-l", "class" => "ui-btn-left" %>
</div>

<div data-role="content">
  
<%= form_for @user do |f| %>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p class="button"><%= f.submit 'Sign up' %></p>

<% end %>
</div>

<div  data-role="footer">
    (c) zLista : <%= flash[:notice] %>
  </div>